.footer {
  background-color: $background-another;
  padding: 60px 0px;
  .footer-info {
    text-align: center;
    @media screen and(min-width: $width-laptop) {
      text-align: start;
    }
  }
  .container {
    @media screen and(min-width: $width-tablet) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }
    @media screen and(min-width: $width-laptop) {
      flex-wrap: nowrap;
      justify-content: space-between;
    }
  }
}
.footer-adress {
  &__place {
    color: $text-color-button;
    font-style: normal;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    margin-top: 20px;
  }
  &__link {
    color: $text-color-primary;
    font-style: normal;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    display: inline-block;
    margin-top: 8px;
    transition: $prymary-transition;
    &:focus,
    &:hover {
      color: $accent-color;
    }
    @media screen and(min-width:$width-laptop) {
      margin-top: 9px;
    }
  }
}
.footer-social {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media screen and(min-width: $width-tablet) {
    margin-top: 5px;
  }
  @media screen and(min-width:$width-laptop) {
    margin-top: 12px;
    align-items: flex-start;
  }
  // margin-right: 93px;
}
.footer-social__text,
.footer-subscription__label {
  // padding-top: 12px;
  // text-align: center;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $text-color-button;
  margin-bottom: 20px;
}

.footer-subscription {
  margin-top: 60px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  @media screen and(min-width: $width-tablet) {
    // width: 450px;
  }
  @media screen and(min-width:$width-laptop) {
    margin-top: 12px;
    margin-left: 0;
    margin-right: 0;
    text-align: start;
  }
  &__field {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media screen and(min-width:$width-laptop) {
      flex-direction: row;
      margin-top: 20px;
    }
  }
  &__input {
    width: 100%;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    background-color: transparent;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    padding: 15px 16px;
    margin: 20px 0px;
    @media screen and(min-width: $width-tablet) {
      width: 450px;
    }
    @media screen and(min-width:$width-laptop) {
      width: 358px;
      margin: 0;
      margin-right: 12px;
    }

    &::placeholder {
      padding: 15px 16px;
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 1.25;
      letter-spacing: 0.03em;
      color: rgba(255, 255, 255, 0.6);
    }
  }
}
.footer-subscription__svg {
  margin-left: 10px;
}
