.page-header {
  border-bottom: 1px solid $header-border;
}
.main-nav,
.site-nav {
  display: flex;
  align-items: center;
}
.nav {
  display: none;
  @media screen and(min-width:$width-tablet) {
    margin-left: 88px;
    display: block;
  }
  @media screen and(min-width:$width-laptop) {
    margin-left: 93px;
  }
}

.site-nav {
  &__link {
    position: relative;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.02em;
    padding: 32px 0px;
    color: $text-color-title;
    transition: $prymary-transition;
    &:hover,
    &:focus {
      color: $accent-color;
    }
  }
}
.site-nav {
  .current {
    color: $accent-color;
    &::after {
      content: '';
      position: absolute;
      bottom: -1px;
      left: 0;
      width: 100%;
      height: 4px;
      border-radius: 2px;
      background: $accent-color;
    }
  }
  .item + .item {
    margin-left: 50px;
  }
}
.contact-nav {
  @media screen and(min-width:$width-laptop) {
    display: flex;
  }
}
.contact-nav {
  display: none;
  margin-left: auto;
  margin-bottom: -10px;
  @media screen and(min-width:$width-tablet) {
    display: block;
  }
  @media screen and(min-width:$width-laptop) {
    display: flex;
    margin-right: -30px;
  }
  &__item {
    margin-bottom: 10px;
    @media screen and(min-width:$width-laptop) {
      margin-right: 30px;
    }
  }
  &__link {
    display: flex;
    align-items: center;
    color: $text-color-primary;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.166;
    letter-spacing: 0.02em;
    transition: $prymary-transition;
    @media screen and(min-width:$width-laptop) {
      font-size: 14px;
      line-height: 1.142;
    }
    &:hover,
    &:focus {
      color: $accent-color;
    }
  }
  &__icon {
    fill: currentColor;
    margin-right: 8px;
    @media screen and(min-width:$width-laptop) {
      margin-right: 10px;
    }
  }
}
