.hero {
  max-width: 1600px;
  height: 400px;
  margin: 0 auto;
  text-align: center;
  padding: 118px 0px;
  background-color: $background-another;
  background-image: linear-gradient(to top, $background-hero, $background-hero),
    url('../../images/background/backround-hero/bc-mobil-1x.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media screen and (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: linear-gradient(to top, $background-hero, $background-hero),
      url('../../images/background/backround-hero/bc-mobil-2x.jpg');
  }
  @media screen and(min-width: $width-tablet) {
    background-image: linear-gradient(to top, $background-hero, $background-hero),
      url('../../images/background/backround-hero/bc-tablet-1x.jpg');
  }
  @media screen and (min-device-pixel-ratio: 2) and (min-width: $width-tablet),
    (min-resolution: 192dpi) and (min-width: $width-tablet),
    (min-resolution: 2dppx) and (min-width: $width-tablet) {
    background-image: linear-gradient(to top, $background-hero, $background-hero),
      url('../../images/background/backround-hero/bc-tablet-2x.jpg');
  }
  @media screen and(min-width: $width-laptop) {
    background-image: linear-gradient(to top, $background-hero, $background-hero),
      url('../../images/background/backround-hero/bc-laptop-1x.jpg');
  }
  @media screen and (min-device-pixel-ratio: 2) and (min-width: $width-laptop),
    (min-resolution: 192dpi) and (min-width: $width-laptop),
    (min-resolution: 2dppx) and (min-width: $width-laptop) {
    background-image: linear-gradient(to top, $background-hero, $background-hero),
      url('../../images/background/backround-hero/bc-laptop-2x.jpg');
  }
  @media screen and(min-width:$width-laptop) {
    padding: 200px 0px;
    height: 600px;
  }
  .hero-title {
    color: $text-color-button;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.615;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-bottom: 30px;
    padding: 0 15px;
    @media screen and (min-width: $width-laptop) {
      font-size: 44px;
      line-height: 1.363;
    }
  }
  &__button {
    margin: 0 auto;
  }
}
