.hidden-padding-top {
  padding-top: 0;
}
.promo-list {
  display: flex;
  justify-content: space-between;
  &__thumb {
    position: relative;
    .title {
      display: flex;
      position: absolute;
      bottom: 0;
      justify-content: center;
      width: 100%;
      padding-top: 27px;
      padding-bottom: 27px;
      font-weight: bold;
      font-size: 14px;
      line-height: 1.142;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      color: $text-color-button;
      background: rgba(47, 48, 58, 0.8);
    }
  }
}
