.team-section {
  background-color: $button-color;
}
.social-icons--team {
  margin-top: 16px;
  justify-content: center;
}
.team-list {
  display: flex;
  justify-content: space-between;

  &__item {
    background-color: $text-color-button;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }
  &__description {
    padding: 30px 0px;
  }
  &__title {
    color: $text-color-title;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.187;
    letter-spacing: 0.03em;
    text-align: center;
  }
  &__position {
    font-weight: normal;
    font-size: 16px;
    line-height: 1.187;
    letter-spacing: 0.03em;
    margin-top: 10px;
    text-align: center;
  }
}
