.work-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
  &__item {
    display: flex;
    margin-left: 30px;
    margin-top: 30px;
  }
  &__border {
    display: block;
    flex-grow: 1;
    border: 1px solid $portfolio-border-list;
    border-top: 0;
    width: 370px;
    padding: 20px 24px;
  }
  &__title {
    font-weight: bold;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: $text-color-title;
  }
  &__text {
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.03em;
    color: $text-color-primary;
  }
  &__link {
    display: flex;
    flex-direction: column;
    &:hover,
    &:focus {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
      transition: $prymary-transition;
    }
    &:focus .work-list__description,
    &:hover .work-list__description {
      transform: translate(0);
    }
  }
  &__thumb {
    position: relative;
    overflow: hidden;
  }
  &__description {
    position: absolute;
    top: 0;
    padding: 63px 24px;
    font-size: 18px;
    line-height: 1.555;
    letter-spacing: 0.03em;
    color: $text-color-button;
    width: 100%;
    height: 100%;
    background-color: $backgraund-color-work-list;
    transform: translatey(100%);
    transition: $prymary-transition;
  }
}
