.container {
  margin: 0 auto;
  padding: 0px 15px;
  width: 100%;
  @media screen and(min-width: $width-mobile) {
    max-width: $width-mobile;
  }
  @media screen and(min-width: $width-tablet) {
    max-width: $width-tablet;
  }
  @media screen and(min-width: $width-laptop) {
    max-width: $width-laptop;
  }
}
