html {
  box-sizing: border-box;
}
ul {
  list-style: none;
  padding: 0;
}
h1,
h2,
h3,
p,
ul {
  margin: 0;
}
a {
  text-decoration: none;
  display: block;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
