.section {
  padding: 60px 0px;
  @media screen and(min-width:$width-laptop) {
    padding: 94px 0px;
  }
}
.section-title {
  color: $text-color-title;
  font-weight: bold;
  font-size: 28px;
  line-height: 1.178;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
  text-align: center;
  @media screen and(min-width:$width-laptop) {
    font-size: 36px;
    line-height: 1.166;
    margin-bottom: 50px;
  }
}
