.section {
  padding: 94px 0px;
}
.section-title {
  color: $text-color-title;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.166;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  text-align: center;
}
