$text-color-primary: #757575;
$text-color-title: #212121;
$text-color-button: #ffffff;
$text-color-footer: rgba(238, 57, 57, 0.6);
$accent-color: #2196f3;
$dark-blac: #000000;
$background-another: #2f303a;
$background-hero: rgba(47, 48, 58, 0.4);
$background-soc: #afb1b8;
$background-color-footer-social: rgba(255, 255, 255, 0.1);
$backgraund-color-work-list: rgba(33, 150, 243, 0.9);
$button-color: #f5f4fa;
$button-color-hover: #188ce8;
$header-border: #ececec;
$portfolio-border-list: #eeeeee;
$prymary-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
